<section id="contact">
    <div class="inner">
        <section>
            <!--form method="post" action="#">
                <div class="fields">
                    <div class="field half">
                        <label for="name">Name</label>
                        <input type="text" name="name" id="name">
                    </div>
                    <div class="field half">
                        <label for="email">Email</label>
                        <input type="text" name="email" id="email">
                    </div>
                    <div class="field">
                        <label for="message">Message</label>
                        <textarea name="message" id="message" rows="6"></textarea>
                    </div>
                </div>
                <ul class="actions">
                    <li>
                        <input type="submit" value="Send Message" class="primary">
                    </li>
                    <li>
                        <input type="reset" value="Clear">
                    </li>
                </ul>
            </form-->
        </section>
        <section class="split">
            <section>
                <div class="contact-method"><span class="icon alt fa-envelope"></span>
                    <h3>info.zapaduralinvest@gmail.com</h3><a href="#"></a></div>
            </section>
            <section>
                <div class="contact-method"><span class="icon alt fa-phone"></span>
                    <h3>+7 (342) 227-75-95</h3><span></span></div>
            </section>
            <section>
                <div class="contact-method"><span class="icon alt fa-home"></span>
                    <h3>614066, Пермский край, Пермь г, Стахановская ул, дом № 54Г, офис 302</h3><span></span></div>
            </section>
        </section>
    </div>
</section>
