<section id="contact">
    <div class="inner">
        <section>
            <a class="dg-widget-link" href="http://2gis.ru/perm/firm/70000001035677734/center/56.202324,57.989552/zoom/16?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=bigMap">Посмотреть на карте Перми</a><div class="dg-widget-link"><a href="http://2gis.ru/perm/center/56.202324,57.989552/zoom/16/routeTab/rsType/bus/to/56.202324,57.989552╎ЗападУралИнвест, ООО?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=route">Найти проезд до ЗападУралИнвест, ООО</a></div><script charset="utf-8" src="https://widgets.2gis.com/js/DGWidgetLoader.js"></script><script charset="utf-8">new DGWidgetLoader({"width":640,"height":600,"borderColor":"#a3a3a3","pos":{"lat":57.989552,"lon":56.202324,"zoom":16},"opt":{"city":"perm"},"org":[{"id":"70000001035677734"}]});</script><noscript style="color:#c00;font-size:16px;font-weight:bold;">Виджет карты использует JavaScript. Включите его в настройках вашего браузера.</noscript>
            <!--form method="post" action="#">
                <div class="fields">
                    <div class="field half">
                        <label for="name">Name</label>
                        <input type="text" name="name" id="name">
                    </div>
                    <div class="field half">
                        <label for="email">Email</label>
                        <input type="text" name="email" id="email">
                    </div>
                    <div class="field">
                        <label for="message">Message</label>
                        <textarea name="message" id="message" rows="6"></textarea>
                    </div>
                </div>
                <ul class="actions">
                    <li>
                        <input type="submit" value="Send Message" class="primary">
                    </li>
                    <li>
                        <input type="reset" value="Clear">
                    </li>
                </ul>
            </form-->
        </section>
        <section class="split">
            <section>
                <div class="contact-method"><span class="icon alt fa-envelope"></span>
                    <h3>info.zapaduralinvest@gmail.com</h3><a href="#"></a></div>
            </section>
            <section>
                <div class="contact-method"><span class="icon alt fa-phone"></span>
                    <h3>+7 (342) 227-75-95</h3><span></span></div>
            </section>
            <section>
                <div class="contact-method"><span class="icon alt fa-home"></span>
                    <h3>614066, Пермский край, Пермь г, Стахановская ул, дом № 54Г, офис 302</h3><span></span></div>
            </section>
        </section>
    </div>
</section>
