<nav id="menu">
  <div class="inner">
      <ul class="links">
          <li><a href="/pages/bur.html" class="link">Буровые растворы</a></li>
          <li><a href="/pages/izol.html" class="link">Реагенты для изоляции скважин</a></li>
          <li><a href="/pages/lab.html" class="link">Лаборатория</a></li>
          <li><a href="/pages/product.html" class="link">Производство</a></li>
          <li><a href="/pages/ship.html" class="link">Доставка</a></li>
      </ul>
      <!--ul class="actions stacked">
          <li><a href="#" class="button primary fit">Начать работу</a></li>
          <li><a href="#" class="button fit">Регистрация/Вход</a></li>
      </ul-->
  </div><a class="close" href="#menu">Закрыть</a>
</nav>