<nav id="menu">
  <div class="inner">
      <ul class="links">
          <li><a href="/pages/буровые_растворы.html" class="link">Буровые растворы</a></li>
          <li><a href="/pages/реагенты_для_изоляции_ремонта_скважин.html" class="link">Реагенты для изоляции скважин</a></li>
          <li><a href="/pages/лаборатория.html" class="link">Лаборатория</a></li>
          <li><a href="/pages/производство.html" class="link">Производство</a></li>
          <li><a href="/pages/доставка.html" class="link">Доставка</a></li>
      </ul>
      <ul class="actions stacked">
          <!--li><a href="#" class="button primary fit">Начать работу</a></li>
          <li><a href="#" class="button fit">Регистрация/Вход</a></li-->
          <li><a href="#contact" class="button next scrolly">Контакты</a></li>
      </ul>
  </div><a class="close" href="#menu">Закрыть</a>
</nav>