<nav id="menu">
  <div class="inner">
      <ul class="links">
          <li><a href="index.html">Начало</a></li>
          <li><a href="landing.html">Каталог</a></li>
          <li><a href="generic.html">Статьи</a></li>
          <li><a href="elements.html">Заявка</a></li>
      </ul>
      <ul class="actions stacked">
          <li><a href="#" class="button primary fit">Начать работу</a></li>
          <li><a href="#" class="button fit">Регистрация/Вход</a></li>
      </ul>
  </div><a class="close" href="#menu">Закрыть</a>
</nav>